<div class="col-12 col-md-5 bg-white p-4 rounded shadow-sm mb-4 me-md-4">
    <h3 class="text-center mb-4">Iniciar sesión</h3>
    <form method="post">
        {% csrf_token %}
        {{ login_form.non_field_errors }}
        
        <div class="mb-3">
            <label for="{{ login_form.username.id_for_label }}" class="form-label">Usuario</label>
            {{ login_form.username }}
            {% if login_form.username.errors %}
                <div class="text-danger">{{ login_form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="{{ login_form.password.id_for_label }}" class="form-label">Contraseña</label>
            {{ login_form.password }}
            {% if login_form.password.errors %}
                <div class="text-danger">{{ login_form.password.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" name="login_submit" class="btn btn-primary w-100">Ingresar</button>
    </form>
</div>
